:root {
  --primery-font-family: Montserrat, sans-serif;
  --secondary-font-family: Seymour One, sans-serif;
  --primery-text-color-teme: #96af8c;
  --secondary-text-color-teme: #efd478;
  --third-text-color-teme: #d6936d;
  --primery-text-color-teme-light: #131313;
  --secondary-text-color-teme-light: #000000;
  --primery-text-color-teme-dark: #FFFFFF;
  --secondary-text-color-teme-dark: #FCFCFC;
  --third-text-color-teme-dark: #F8D24E;
  --default-button-color-teme: #F8D24E;
  --focus-button-color-teme: #0A8817;
  --disabled-button-color-teme: #ABABAB;
  --accent-color: #2196F3;
  --via-magenta: #FF0090;
  --background-color-teme-dark: #84A178;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: var(--primery-font-family);
  font-size: 1.4rem;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--primery-text-color-teme-light);
  background-color: var(--background-color-teme-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
a:hover, a:focus button:hover,
button:focus {
  cursor: url("/images/cursor.svg"), pointer;
}

.accent {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 10px;
  }
}
.title-label {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.23;
}

@media screen and (min-width: 768px) {
  .title-label {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .title-label {
    font-size: 3rem;
  }
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-family: Seymour One, sans-serif;
  font-size: 3rem;
  line-height: 1.27;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 3.6rem;
  }
}
.btn {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  font-family: inherit;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.2;
  text-transform: none;
  color: #131313;
  cursor: inherit;
  outline: none;
}

.btn--underlined {
  color: #f8d24e;
  text-decoration: underline;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--underlined:hover {
  color: #0a8817;
}

.btn--underlined:focus {
  color: #fcfcfc;
}

.btn--underlined:disabled {
  color: #ababab;
}

.btn--primary {
  background-color: #f8d24e;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--primary:hover {
  background-color: #0a8817;
}

.btn--primary:focus {
  color: #fcfcfc;
  background-color: #0a8817;
}

.btn--primary:disabled {
  background-color: #ababab;
}

.btn--primary svg {
  fill: currentColor;
  pointer-events: none;
}

.btn--border {
  background-color: rgba(0, 0, 0, 0);
  border-color: #f8d24e;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--border:hover {
  border-color: #0a8817;
}

.btn--border:focus {
  color: #fcfcfc;
  border-color: #0a8817;
}

.btn--border:disabled {
  border-color: #ababab;
}

.btn--border svg {
  fill: currentColor;
  pointer-events: none;
}

@keyframes plate-rotate {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes ice-cream-rotate {
  0% {
    opacity: 0;
    transform: scale(0%);
  }
  to {
    opacity: 1;
    transform: scale(100%) rotate(2turn);
  }
}
@keyframes ice-cream-shadow-spawn {
  0% {
    filter: drop-shadow(0 0 var(--primery-text-color-teme-dark));
  }
  to {
    filter: drop-shadow(0 0 40px var(--primery-text-color-teme-dark));
  }
}
@keyframes ice-cream-shadow-flash {
  0% {
    filter: drop-shadow(0 0 40px var(--primery-text-color-teme-dark));
  }
  to {
    filter: drop-shadow(0 0 10px var(--primery-text-color-teme-dark));
  }
}
@keyframes gallery {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.page-header {
  z-index: 10;
  width: 100%;
  padding: 1.2rem 0;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 20px 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding: 18px 0;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .navigation {
    display: none;
  }
}
.nav-list {
  display: flex;
  gap: 28px;
}

.nav-list > li > a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: var(--secondary-text-color-teme-dark);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list > li > a:hover, .nav-list > li > a:focus {
  color: var(--third-text-color-teme-dark);
}

.header-container__buttons {
  display: flex;
  align-items: center;
  gap: 32px;
}

.burger {
  display: flex;
  justify-content: center;
}

.btn--buy {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.21429;
}

@media screen and (max-width: 767px) {
  .header__btn {
    display: none;
  }
}
.hero {
  position: relative;
}

.hero-container {
  background: url("../images/hero/points-left-mobile-@1x.png") 0 100%/110px 34px no-repeat, url("../images/hero/points-right-mobile-@1x.png") 100% 100%/130px 48px no-repeat;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2x) {
  .hero-container {
    background: url("../images/hero/points-left-mobile-@2x.png") 0 100%/110px 34px no-repeat, url("../images/hero/points-right-mobile-@2x.png") 100% 100%/130px 48px no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    background: url("../images/hero/points-left-tablet-@1x.png") 0 100%/110px 34px no-repeat, url("../images/hero/points-right-tablet-@1x.png") 100% 100%/182px 67px no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero-container {
    background: url("../images/hero/points-left-tablet-@2x.png") 0 100%/110px 34px no-repeat, url("../images/hero/points-right-tablet-@2x.png") 100% 100%/182px 67px no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    background: url("../images/hero/points-desktop-@2x.png") bottom/1200px 384px no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2x) {
  .hero-container {
    background: url("../images/hero/points-desktop-@2x.png") bottom/1200px 384px no-repeat;
  }
}
.hero__content {
  padding-top: 11rem;
  padding-bottom: 24rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero__content {
    padding-top: 10.5rem;
    padding-bottom: 1.13rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    padding-top: 11.8rem;
    padding-bottom: 6.5rem;
  }
}
.hero__title {
  max-width: 250px;
  margin-bottom: 3.2rem;
  font-family: var(--secondary-font-family);
  font-size: 2.6rem;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--secondary-text-color-teme-dark);
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 182px;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 1.27778;
    letter-spacing: normal;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 367px;
    margin-bottom: 28px;
    font-size: 3.8rem;
    line-height: 1.26316;
  }
}
.hero__title > span {
  font-size: 3.4rem;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .hero__title > span {
    font-size: 2.4rem;
    line-height: 1.26316;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title > span {
    font-size: 3.8rem;
  }
}
.hero__buttons {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .hero__buttons {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__buttons {
    gap: 0;
    margin-bottom: 42px;
  }
}
.hero__btn {
  display: block;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 0.8rem;
  line-height: 1.25;
  letter-spacing: normal;
}

@media screen and (min-width: 1200px) {
  .hero__btn {
    border-radius: 10px;
    padding: 10px 32px;
    font-size: 1.4rem;
    line-height: 1.28571;
  }
}
.hero__description {
  position: relative;
}

@media screen and (max-width: 767px) {
  .hero__description {
    display: none;
  }
}
.hero__plate {
  animation: plate-rotate 20s linear infinite;
}

.hero__text-wrapper {
  position: absolute;
  top: 28px;
  left: 185px;
}

@media screen and (min-width: 1200px) {
  .hero__text-wrapper {
    top: 68px;
    left: 239px;
  }
}
.hero__text {
  max-width: 151px;
  margin-bottom: 12px;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: normal;
  color: var(--secondary-text-color-teme-dark);
}

@media screen and (min-width: 1200px) {
  .hero__text {
    max-width: 200px;
    margin-bottom: 24px;
    font-size: 1.4rem;
  }
}
.hero__link {
  display: block;
}

.hero__link:focus > .hero__arrow {
  transform: scale(1.2);
}

.hero__arrow {
  fill: var(--secondary-text-color-teme-dark);
  transform-origin: 0;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__arrow:hover {
  transform: scaleX(1.2);
}

.hero__image-wrapper {
  position: absolute;
  min-width: 157px;
}

@media screen and (max-width: 767px) {
  .hero__image-wrapper {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
}
@media screen and (min-width: 768px) {
  .hero__image-wrapper {
    bottom: 0;
    right: 61px;
    animation: ice-cream-rotate 1s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  .hero__image-wrapper {
    right: 86px;
  }
}
.hero__img {
  animation: ice-cream-shadow-spawn 1s ease-in-out 1s forwards, ice-cream-shadow-flash 1s ease-in-out 2s infinite alternate;
}

.statistics {
  position: absolute;
  top: 94px;
  right: 0;
}

@media screen and (max-width: 767px) {
  .statistics {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .statistics {
    top: 126px;
  }
}
.statistics__item {
  text-align: right;
  font-size: 0.8rem;
  line-height: 1.25;
  color: var(--secondary-text-color-teme-dark);
}

.statistics__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .statistics__item {
    font-size: 1.4rem;
    line-height: 1.21429;
  }
  .statistics__item:not(:last-child) {
    margin-bottom: 16px;
  }
}
.statistics__item > span {
  display: block;
  margin-bottom: 4px;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.21429;
  color: var(--primery-text-color-teme-light);
}

@media screen and (min-width: 1200px) {
  .statistics__item > span {
    font-size: 4.6rem;
    line-height: 1.21739;
  }
}
.products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primery-text-color-teme-dark);
  background-image: url("../images/Img-mobile-@1x.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2x) {
  .products {
    background-image: url("../images/Img-mobile-@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products {
    padding-bottom: 82px;
    background-image: url("../images/Img-tablet-@1x.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2x) {
  .products {
    background-image: url("../images/Img-tablet-@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-bottom: 66px;
    background-image: url("../images/Img-desktop-@1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2x) {
  .products {
    background-image: url("../images/Img-desktop-@2x.png");
  }
}
.products__subtitle {
  margin-bottom: 12px;
}

.products__title {
  margin-bottom: 148px;
}

@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    margin-bottom: 304px;
  }
}
.products__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 168px;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .products__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    grid-column-gap: 28px;
  }
}
.products__item {
  position: relative;
  width: 100%;
  min-height: 420px;
  padding-top: 123px;
  padding-bottom: 6px;
  padding-left: 40px;
  padding-right: 40px;
  display: grid;
  justify-items: center;
  border-radius: 24px;
}

@media screen and (min-width: 480px) {
  .products__item {
    width: calc(100% - 160px);
  }
}
@media screen and (min-width: 768px) {
  .products__item {
    width: 100%;
    min-height: 428px;
    padding-top: 106px;
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    min-height: 535px;
    padding-top: 166px;
    padding-left: 63px;
    padding-right: 63px;
    padding-bottom: 46px;
  }
}
.products__headings {
  margin-bottom: 40px;
  font-size: 2rem;
  letter-spacing: 0.04em;
  line-height: 1.2;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .products__headings {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .products__headings {
    font-size: 3rem;
    margin-bottom: 65px;
  }
}
.products__text {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 1.6rem;
  }
}
.products__link {
  margin-top: auto;
  background-color: transparent;
  border-color: transparent;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left center;
  cursor: pointer;
}
.products__link:focus {
  transform: scale(120%);
  outline: none;
}
.products__link:hover {
  transform: scaleX(120%);
}

.products__arrow {
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left center;
  pointer-events: none;
}

.products__item::before {
  content: "";
  position: absolute;
  top: -97px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .products__item::before {
    top: -109px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item::before {
    top: -166px;
    width: 300px;
    height: 300px;
  }
}
.products__item::after {
  content: "";
  position: absolute;
  top: -108px;
  width: 201px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  align-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .products__item::after {
    top: -120px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item::after {
    top: -183px;
    width: 300px;
    height: 300px;
  }
}
.products__item--green {
  background-color: var(--primery-text-color-teme);
}

.products__item--green::before {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

@media screen and (min-width: 1200px) {
  .products__item--green::before {
    box-shadow: 0 8px 30px rgba(10, 136, 23, 0.25);
  }
}
.products__item--green::after {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/products/product-mobile-001-@1x.jpg");
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item--green::after {
    background-image: url("../images/products/product-mobile-001-@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products__item--green::after {
    background-image: url("../images/products/product-desktop-001-@1x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item--green::after {
    background-image: url("../images/products/product-desktop-001-@2x.jpg");
  }
}
.products__item--yellow {
  background-color: var(--secondary-text-color-teme);
}

.products__item--yellow::before {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

@media screen and (min-width: 1200px) {
  .products__item--yellow::before {
    box-shadow: 0 8px 30px rgba(153, 114, 23, 0.25);
  }
}
.products__item--yellow::after {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/products/product-mobile-002-@1x.jpg");
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item--yellow::after {
    background-image: url("../images/products/product-mobile-002-@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products__item--yellow::after {
    background-image: url("../images/products/product-desktop-002-@1x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item--yellow::after {
    background-image: url("../images/products/product-desktop-002-@2x.jpg");
  }
}
.products__item--brown {
  background-color: var(--third-text-color-teme);
}

.products__item--brown::before {
  background: linear-gradient(rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), none;
  box-shadow: 0 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1200px) {
  .products__item--brown::before {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  }
}
.products__item--brown::after {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/products/product-mobile-003-@1x.jpg");
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item--brown::after {
    background-image: url("../images/products/product-mobile-003-@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products__item--brown::after {
    background-image: url("../images/products/product-desktop-003-@1x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item--brown::after {
    background-image: url("../images/products/product-desktop-003-@2x.jpg");
  }
}
.about {
  padding-top: 60px;
  color: var(--secondary-text-color-teme-dark);
}

.about__title-label {
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .about__title-label {
    letter-spacing: 0.04em;
  }
}
.about__title {
  max-width: 200px;
  margin: 0 auto 35px;
  color: var(--secondary-text-color-teme-dark);
}

@media screen and (min-width: 768px) {
  .about__title {
    max-width: 100%;
    margin-bottom: 72px;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 84px;
  }
}
.about__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .about__content {
    flex-wrap: nowrap;
    align-items: center;
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__content {
    justify-content: left;
    gap: 108px;
  }
}
.about__image-wrap {
  max-width: 335px;
}

@media screen and (min-width: 480px) {
  .about__image-wrap {
    max-width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .about__image-wrap {
    max-width: calc(50% - 16px);
  }
}
@media screen and (min-width: 1200px) {
  .about__image-wrap {
    max-width: 490px;
    width: 490px;
  }
}
.about__image {
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  object-fit: contain;
  margin-top: 21.82px;
  box-shadow: 0 -21.82px var(--third-text-color-teme-dark);
}

@media screen and (min-width: 768px) {
  .about__image {
    margin-top: 25.88px;
    box-shadow: 0 -25.88px var(--third-text-color-teme-dark);
  }
}
@media screen and (min-width: 1200px) {
  .about__image {
    margin-top: 39px;
    box-shadow: 0 -39px var(--third-text-color-teme-dark);
  }
}
.about__text {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .about__text {
    max-width: 380px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    max-width: calc(50% - 16px);
    align-items: baseline;
    gap: 0;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    max-width: 463px;
  }
}
.about__paragraph {
  font-size: 1.2rem;
  color: var(--secondary-text-color-teme-dark);
}

@media screen and (max-width: 479px) {
  .about__paragraph:nth-child(2) {
    letter-spacing: 0.02em;
    line-height: 1.63;
  }
}
.about__paragraph:first-child {
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .about__paragraph:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .about__paragraph:last-child {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .about__paragraph {
    font-size: 1.6rem;
  }
  .about__paragraph:not(:first-child) {
    font-size: 1.4rem;
  }
}
.about__btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.advantages {
  padding-top: 116px;
  padding-bottom: 36px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0;
  color: var(--secondary-text-color-teme-dark);
}

@media screen and (min-width: 480px) {
  .advantages {
    padding-top: 126px;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 142px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 150px;
    padding-bottom: 84px;
  }
}
.advantages__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 94px;
}

@media screen and (min-width: 480px) {
  .advantages__list {
    grid-row-gap: 98px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    grid-column-gap: 32px;
  }
}
.advantages__item {
  position: relative;
  display: grid;
  justify-items: center;
  flex-shrink: 0;
}

.advantages__item::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  display: flex;
  background-color: var(--third-text-color-teme-dark);
  border-radius: 50%;
  top: -66px;
}

@media screen and (min-width: 768px) {
  .advantages__item::after {
    top: -82px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item::after {
    top: -90px;
  }
}
.advantages__item--volume::after {
  background-image: url("../images/advantages/cow-@1x.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 36px 36px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages__item--volume::after {
    background-image: url("../images/advantages/cow-@2x.png");
  }
}
.advantages__item--weight::after {
  background-image: url("../images/advantages/weight-@1x.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 36px 36px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages__item--weight::after {
    background-image: url("../images/advantages/weight-@2x.png");
  }
}
.advantages__item--sort::after {
  background-image: url("../images/advantages/ice-crema-@1x.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 36px 36px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages__item--sort::after {
    background-image: url("../images/advantages/ice-crema-@2x.png");
  }
}
.advantages__subtitle {
  margin-bottom: 1.8rem;
  font-size: 36px;
}

@media screen and (min-width: 768px) {
  .advantages__subtitle {
    margin-bottom: 16px;
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__subtitle {
    margin-bottom: 8px;
    font-size: 5.8rem;
  }
}
.advantages__text {
  width: 230px;
  font-size: 1.2rem;
  line-height: 1.7;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages__text {
    width: 100%;
    font-size: 1.4rem;
    font-weight: normal;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 342px;
    margin: 0 auto;
    font-size: 1.6rem;
  }
}
/*  START common styles for gallery and customer-reviews */
.gallery-reviews-wrapper {
  min-height: 1072px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--primery-text-color-teme-dark);
}

@media screen and (max-width: 320px) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(#84a278, #84a278 24px, rgba(0, 0, 0, 0) 24px), url("../images/Img-mobile-@1x.png");
  }
}
@media screen and (max-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 320px) and (min-resolution: 192dpi), screen and (max-width: 320px) and (min-resolution: 2x) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(#84a278, #84a278 24px, rgba(0, 0, 0, 0) 24px), url("../images/Img-mobile-@2x.png");
  }
}
@media screen and (min-width: 321px) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(#84a278, #84a278 24px, rgba(0, 0, 0, 0) 24px), url("../images/Img-tablet-@1x.png");
    background-size: cover;
  }
}
@media screen and (min-width: 321px) and (min-device-pixel-ratio: 2), screen and (min-width: 321px) and (min-resolution: 192dpi), screen and (min-width: 321px) and (min-resolution: 2x) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(#84a278, #84a278 24px, rgba(0, 0, 0, 0) 24px), url("../images/Img-tablet-@2x.png");
  }
}
@media screen and (width: 768px) {
  .gallery-reviews-wrapper {
    min-height: 1122px;
    background-image: linear-gradient(#84a278, #84a278 164px, rgba(0, 0, 0, 0) 164px), url("../images/Img-tablet-@1x.png");
    background-size: contain;
  }
}
@media screen and (width: 768px) and (min-device-pixel-ratio: 2), screen and (width: 768px) and (min-resolution: 192dpi), screen and (width: 768px) and (min-resolution: 2x) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(#84a278, #84a278 164px, rgba(0, 0, 0, 0) 164px), url("../images/Img-tablet-@2x.png");
  }
}
@media screen and (min-width: 769px) {
  .gallery-reviews-wrapper {
    min-height: 1122px;
    background-image: linear-gradient(#84a278, #84a278 164px, rgba(0, 0, 0, 0) 164px), url("../images/Img-desktop-@1x.png");
    background-size: cover;
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2x) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(#84a278, #84a278 164px, rgba(0, 0, 0, 0) 164px), url("../images/Img-desktop-@2x.png");
  }
}
@media screen and (width: 1200px) {
  .gallery-reviews-wrapper {
    min-height: 1110px;
    background-image: linear-gradient(#84a278, #84a278 96px, rgba(0, 0, 0, 0) 96px), url("../images/Img-desktop-@1x.png");
    background-size: contain;
  }
}
@media screen and (width: 1200px) and (min-device-pixel-ratio: 2), screen and (width: 1200px) and (min-resolution: 192dpi), screen and (width: 1200px) and (min-resolution: 2x) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(#84a278, #84a278 96px, rgba(0, 0, 0, 0) 96px), url("../images/Img-desktop-@2x.png");
  }
}
@media screen and (min-width: 1201px) {
  .gallery-reviews-wrapper {
    min-height: 1110px;
    background-image: linear-gradient(#84a278, #84a278 96px, rgba(0, 0, 0, 0) 95px), url("../images/Img-desktop-@1x.png");
    background-size: cover;
  }
}
@media screen and (min-width: 1201px) and (min-device-pixel-ratio: 2), screen and (min-width: 1201px) and (min-resolution: 192dpi), screen and (min-width: 1201px) and (min-resolution: 2x) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(#84a278, #84a278 96px, rgba(0, 0, 0, 0) 95px), url("../images/Img-desktop-@2x.png");
  }
}
/*  END common styles for gallery and customer-reviews */
.gallery__list {
  position: relative;
  overflow: hidden;
  border-radius: 0.75rem;
  background-color: var(--secondary-text-color-teme-dark);
}

@media screen and (min-width: 768px) {
  .gallery__list {
    border-radius: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__list {
    max-width: 1013px;
    border-radius: 2.4rem;
    margin: 0 auto;
  }
}
.gallery__item:nth-child(n+2) {
  position: absolute;
  top: 0;
}

.gallery__item {
  animation-name: gallery;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.gallery__item:nth-child(2) {
  animation-delay: 5s;
}

.gallery__item:first-child {
  animation-delay: 10s;
}

.contacts {
  padding-top: 1028px;
  padding-bottom: 40px;
  position: relative;
}

@media screen and (min-width: 320px) {
  .contacts {
    padding-top: 962px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 284px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-top: 506px;
    padding-bottom: 120px;
  }
}
.contacts-items {
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1.6rem;
  grid-row-gap: 1rem;
}

@media screen and (min-width: 768px) {
  .contacts-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-items {
    grid-template-rows: 542px;
    grid-column-gap: 2rem;
  }
}
.contacts-items > li {
  padding: 2.5rem 2rem 1.5rem 2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--secondary-text-color-teme-light);
  background: var(--secondary-text-color-teme-dark);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 1.5rem;
}

@media screen and (min-width: 768px) {
  .contacts-items > li {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-items > li {
    font-size: 1rem;
  }
}
.contacts__card {
  padding: 0.25rem 1.375rem;
  display: inline-block;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: var(--third-text-color-teme-dark);
  border-radius: 0.25rem;
}

@media screen and (min-width: 768px) {
  .contacts__card {
    padding: 0.25rem 0.875rem;
    font-size: 1rem;
  }
}
.contacts__location {
  padding: 0.5rem 0 1.5rem 0;
  position: relative;
}
.contacts__location::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

@media screen and (min-width: 768px) {
  .contacts__location {
    padding: 2rem 0;
  }
}
.contacts__location > span {
  margin-bottom: 0.5rem;
  display: block;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

.contacts__location > a {
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #D6936D;
}
.contacts__location > a:hover, .contacts__location > a:hover {
  text-decoration: underline;
}

.contacts__grafic {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  line-height: 1.86;
}
.contacts__grafic::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

@media screen and (min-width: 768px) {
  .contacts__grafic {
    padding: 2rem 0;
  }
}
.contacts__grafic > p {
  display: block;
  line-height: 1.86;
  color: #ABABAB;
}

.contacts__grafic > p > span {
  line-height: 1.86;
  color: var(--secondary-text-color-teme-light);
}

.contacts__links {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  line-height: 1.6;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .contacts__links {
    padding-top: 2rem;
  }
}
.contacts__links > a {
  color: var(--secondary-text-color-teme-light);
}

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-teme-dark);
}

.footer__text {
  max-width: 14.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.2;
  text-transform: uppercase;
  word-wrap: break-word;
  color: var(--secondary-text-color-teme-dark);
}

.footer__text span {
  margin-top: 1rem;
  max-width: 12.5rem;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.footer__links {
  margin-top: 3.75rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
}

.footer__link {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--default-button-color-teme);
  border-radius: 50%;
  fill: var(--background-color-teme-dark);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  fill: var(--secondary-text-color-teme-dark);
}

.footer__phone {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.86;
  text-align: right;
  color: #131313;
}

.footer__phone a {
  color: var(--secondary-text-color-teme-dark);
}

.footer__right {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.52;
  text-align: center;
  color: #7A7A7A;
  border-top: 1px solid #E1E1E1;
}

@media screen and (min-width: 768px) {
  .footer__text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__text {
    max-width: 22rem;
    font-size: 1.625rem;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  .footer__text span {
    max-width: 22rem;
    margin-top: 0.5rem;
    font-size: 3rem;
    line-height: 1.23;
    letter-spacing: 0.06em;
  }
  .footer__links {
    gap: 1.875rem;
  }
  .footer__phone {
    margin-top: 2.125rem;
    font-size: 0.875rem;
  }
  .footer__right {
    margin-left: -2rem;
    margin-right: -2rem;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text-container {
    align-items: flex-end;
  }
  .footer__text {
    max-width: 32.5rem;
    font-size: 1.875rem;
    line-height: 1.23;
    word-wrap: normal;
  }
  .footer__text span {
    margin-top: 0.875rem;
    max-width: 32.5rem;
    margin-bottom: 3.75rem;
    font-size: 3.625rem;
  }
  .footer__links {
    margin-top: 0;
  }
  .footer__phone {
    margin-top: 2.5rem;
    margin-bottom: 3.75rem;
    font-size: 1rem;
    letter-spacing: 0.02em;
  }
  .footer__right {
    margin-left: 0;
    margin-right: 0;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: var(--primery-font-family);
  font-size: 1.4rem;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--primery-text-color-teme-light);
  background-color: var(--background-color-teme-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
a:hover, a:focus button:hover,
button:focus {
  cursor: url("/images/cursor.svg"), pointer;
}

.accent {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */