:root {
  --primery-font-family: Montserrat, sans-serif;
  --secondary-font-family: Seymour One, sans-serif;
  --primery-text-color-teme-ice: #96af8c;
  --secondary-text-color-teme-coffee: #efd478;
  --third-text-color-teme-shake: #d6936d;
  --primery-text-color-teme-light: #131313;
  --secondary-text-color-teme-light: #000000;
  --primery-text-color-teme-dark: #FFFFFF;
  --secondary-text-color-teme-dark: #FCFCFC;
  --third-text-color-teme-dark: #F8D24E;
  --default-button-color-teme: #F8D24E;
  --focus-button-color-teme: #0A8817;
  --disabled-button-color-teme: #ABABAB;
  --accent-color: #2196F3;
  --via-magenta: #FF0090;
  --background-color-teme-dark: #84A178;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: var(--primery-font-family);
  font-size: 1.4rem;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--primery-text-color-teme-light);
  background-color: var(--background-color-teme-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
a:hover, a:focus button:hover,
button:focus {
  cursor: url("/images/cursor.svg"), pointer;
}

.accent {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 10px;
  }
}
.title-label {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.23;
}

@media screen and (min-width: 768px) {
  .title-label {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .title-label {
    font-size: 3rem;
  }
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-family: Seymour One, sans-serif;
  font-size: 3rem;
  line-height: 1.27;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 3.6rem;
  }
}
.btn {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  font-family: inherit;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.2;
  text-transform: none;
  color: #131313;
  cursor: inherit;
  outline: none;
}

.btn--underlined {
  color: #f8d24e;
  text-decoration: underline;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--underlined:hover {
  color: #0a8817;
}

.btn--underlined:focus {
  color: #fcfcfc;
}

.btn--underlined:disabled {
  color: #ababab;
}

.btn--primary {
  background-color: #f8d24e;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--primary:hover {
  background-color: #0a8817;
}

.btn--primary:focus {
  color: #fcfcfc;
  background-color: #0a8817;
}

.btn--primary:disabled {
  background-color: #ababab;
}

.btn--primary svg {
  fill: currentColor;
  pointer-events: none;
}

.btn--border {
  background-color: rgba(0, 0, 0, 0);
  border-color: #f8d24e;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--border:hover {
  border-color: #0a8817;
}

.btn--border:focus {
  color: #fcfcfc;
  border-color: #0a8817;
}

.btn--border:disabled {
  border-color: #ababab;
}

.btn--border svg {
  fill: currentColor;
  pointer-events: none;
}

@keyframes plate-rotate {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes ice-cream-rotate {
  0% {
    opacity: 0;
    transform: scale(0%);
  }
  to {
    opacity: 1;
    transform: scale(100%) rotate(2turn);
  }
}
@keyframes ice-cream-shadow-spawn {
  0% {
    filter: drop-shadow(0 0 var(--primery-text-color-teme-dark));
  }
  to {
    filter: drop-shadow(0 0 40px var(--primery-text-color-teme-dark));
  }
}
@keyframes ice-cream-shadow-flash {
  0% {
    filter: drop-shadow(0 0 40px var(--primery-text-color-teme-dark));
  }
  to {
    filter: drop-shadow(0 0 10px var(--primery-text-color-teme-dark));
  }
}
.page-header {
  z-index: 10;
  width: 100%;
  padding: 1.2rem 0;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 20px 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding: 18px 0;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .navigation {
    display: none;
  }
}
.nav-list {
  display: flex;
  gap: 28px;
}

.nav-list > li > a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;
  color: var(--secondary-text-color-teme-dark);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list > li > a:hover, .nav-list > li > a:focus {
  color: var(--third-text-color-teme-dark);
}

.header-container__buttons {
  display: flex;
  align-items: center;
  gap: 32px;
}

.burger {
  display: flex;
  justify-content: center;
}

.btn--buy {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.21429;
}

@media screen and (max-width: 767px) {
  .header__btn {
    display: none;
  }
}
.hero {
  position: relative;
}

.hero-container {
  background: url("../images/hero/points-left-mobile-@1x.png") 0 100%/110px 34px no-repeat, url("../images/hero/points-right-mobile-@1x.png") 100% 100%/130px 48px no-repeat;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2x) {
  .hero-container {
    background: url("../images/hero/points-left-mobile-@2x.png") 0 100%/110px 34px no-repeat, url("../images/hero/points-right-mobile-@2x.png") 100% 100%/130px 48px no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    background: url("../images/hero/points-left-tablet-@1x.png") 0 100%/110px 34px no-repeat, url("../images/hero/points-right-tablet-@1x.png") 100% 100%/182px 67px no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero-container {
    background: url("../images/hero/points-left-tablet-@2x.png") 0 100%/110px 34px no-repeat, url("../images/hero/points-right-tablet-@2x.png") 100% 100%/182px 67px no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    background: url("../images/hero/points-desktop-@2x.png") bottom/1200px 384px no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2x) {
  .hero-container {
    background: url("../images/hero/points-desktop-@2x.png") bottom/1200px 384px no-repeat;
  }
}
.hero__content {
  padding-top: 11rem;
  padding-bottom: 24rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero__content {
    padding-top: 10.5rem;
    padding-bottom: 1.13rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    padding-top: 11.8rem;
    padding-bottom: 6.5rem;
  }
}
.hero__title {
  max-width: 250px;
  margin-bottom: 3.2rem;
  font-family: var(--secondary-font-family);
  font-size: 2.6rem;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--secondary-text-color-teme-dark);
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 182px;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 1.27778;
    letter-spacing: normal;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 367px;
    margin-bottom: 28px;
    font-size: 3.8rem;
    line-height: 1.26316;
  }
}
.hero__title > span {
  font-size: 3.4rem;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .hero__title > span {
    font-size: 2.4rem;
    line-height: 1.26316;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title > span {
    font-size: 3.8rem;
  }
}
.hero__buttons {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .hero__buttons {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__buttons {
    gap: 0;
    margin-bottom: 42px;
  }
}
.hero__btn {
  display: block;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 0.8rem;
  line-height: 1.25;
  letter-spacing: normal;
}

@media screen and (min-width: 1200px) {
  .hero__btn {
    border-radius: 10px;
    padding: 10px 32px;
    font-size: 1.4rem;
    line-height: 1.28571;
  }
}
.hero__description {
  position: relative;
}

@media screen and (max-width: 767px) {
  .hero__description {
    display: none;
  }
}
.hero__plate {
  animation: plate-rotate 20s linear infinite;
}

.hero__text-wrapper {
  position: absolute;
  top: 28px;
  left: 185px;
}

@media screen and (min-width: 1200px) {
  .hero__text-wrapper {
    top: 68px;
    left: 239px;
  }
}
.hero__text {
  max-width: 151px;
  margin-bottom: 12px;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: normal;
  color: var(--secondary-text-color-teme-dark);
}

@media screen and (min-width: 1200px) {
  .hero__text {
    max-width: 200px;
    margin-bottom: 24px;
    font-size: 1.4rem;
  }
}
.hero__link {
  display: block;
}

.hero__link:focus > .hero__arrow {
  transform: scale(1.2);
}

.hero__arrow {
  fill: var(--secondary-text-color-teme-dark);
  transform-origin: 0;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__arrow:hover {
  transform: scaleX(1.2);
}

.hero__image-wrapper {
  position: absolute;
  min-width: 157px;
}

@media screen and (max-width: 767px) {
  .hero__image-wrapper {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
}
@media screen and (min-width: 768px) {
  .hero__image-wrapper {
    bottom: 0;
    right: 61px;
    animation: ice-cream-rotate 1s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  .hero__image-wrapper {
    right: 86px;
  }
}
.hero__img {
  animation: ice-cream-shadow-spawn 1s ease-in-out 1s forwards, ice-cream-shadow-flash 1s ease-in-out 2s infinite alternate;
}

.statistics {
  position: absolute;
  top: 94px;
  right: 0;
}

@media screen and (max-width: 767px) {
  .statistics {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .statistics {
    top: 126px;
  }
}
.statistics__item {
  text-align: right;
  font-size: 0.8rem;
  line-height: 1.25;
  color: var(--secondary-text-color-teme-dark);
}

.statistics__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .statistics__item {
    font-size: 1.4rem;
    line-height: 1.21429;
  }
  .statistics__item:not(:last-child) {
    margin-bottom: 16px;
  }
}
.statistics__item > span {
  display: block;
  margin-bottom: 4px;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.21429;
  color: var(--primery-text-color-teme-light);
}

@media screen and (min-width: 1200px) {
  .statistics__item > span {
    font-size: 4.6rem;
    line-height: 1.21739;
  }
}
.products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primery-text-color-teme-dark);
  background-image: url("../images/Img-mobile-@1x.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2x) {
  .products {
    background-image: url("../images/Img-mobile-@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products {
    padding-bottom: 82px;
    background-image: url("../images/Img-tablet-@1x.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2x) {
  .products {
    background-image: url("../images/Img-tablet-@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-bottom: 66px;
    background-image: url("../images/Img-desktop-@1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2x) {
  .products {
    background-image: url("../images/Img-desktop-@2x.png");
  }
}
.products__subtitle {
  margin-bottom: 12px;
}

.products__title {
  margin-bottom: 148px;
}

@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    margin-bottom: 304px;
  }
}
.products__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 60px;
}

@media screen and (min-width: 768px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 0px;
  }
}
.products__item {
  width: 100%;
  min-height: 420px;
  border-radius: 24px;
  flex-direction: column;
  align-items: center;
  padding: 123px 40px 6px;
  display: flex;
  position: relative;
}

@media screen and (min-width: 768px) {
  .products__item {
    width: calc(33.3333% - 10.6667px);
    min-height: 428px;
    padding-top: 106px;
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    width: calc(33.3333% - 21.3333px);
    min-height: 535px;
    padding: 166px 63px 46px;
  }
}
.products__headings {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 2rem;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .products__headings {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .products__headings {
    margin-bottom: 65px;
    font-size: 3rem;
  }
}
.products__text {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 1.6rem;
  }
}
.products__link {
  transform-origin: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  margin-top: auto;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.products__link:focus {
  outline: none;
  transform: scale(1.2);
}

.products__link:hover {
  transform: scaleX(1.2);
}

.products__arrow {
  transform-origin: 0;
  pointer-events: none;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.products__item--green {
  background-color: #aec6a5;
}

.products__item--green:before {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  background-image: linear-gradient(rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  border-radius: 50%;
  position: absolute;
  top: -97px;
  box-shadow: 0 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

@media screen and (min-width: 768px) {
  .products__item--green:before {
    top: -109px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item--green:before {
    width: 300px;
    height: 300px;
    top: -166px;
    box-shadow: 0 8px 30px rgba(10, 136, 23, 0.25);
  }
}
.products__item--green:after {
  content: "";
  width: 201px;
  height: 200px;
  background-image: url(mob-ice-cream-1x-min.f38d1b51.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-content: center;
  align-items: center;
  display: inline-block;
  position: absolute;
  top: -108px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2x) {
  .products__item--green:after {
    background-image: url(mob-ice-cream@2x-min.df50cef6.png);
  }
}
@media screen and (min-width: 768px) {
  .products__item--green:after {
    top: -120px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item--green:after {
    width: 300px;
    height: 300px;
    background-image: url(desk-ice-cream1x-min.b26eced6.png);
    top: -183px;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2x) {
  .products__item--green:after {
    background-image: url(desk-ice-cream@2x-min.99657e24.png);
  }
}
.products__item--yellow {
  background-color: #efd478;
}

.products__item--yellow:before {
  content: "";
  width: 201px;
  height: 200px;
  background-color: #d9d9d9;
  background-image: linear-gradient(rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  border-radius: 50%;
  align-content: center;
  display: inline-block;
  position: absolute;
  top: -97px;
  box-shadow: 0 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

@media screen and (min-width: 768px) {
  .products__item--yellow:before {
    top: -109px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item--yellow:before {
    width: 300px;
    height: 300px;
    top: -166px;
    box-shadow: 0 8px 30px rgba(153, 114, 23, 0.25);
  }
}
.products__item--yellow:after {
  content: "";
  width: 200px;
  height: 200px;
  background-image: url(mob-ice-coffe-1x-min.bfda9278.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-content: center;
  display: inline-block;
  position: absolute;
  top: -108px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2x) {
  .products__item--yellow:after {
    background-image: url(mob-ice-coffe-@2x-min.d6e1da56.png);
  }
}
@media screen and (min-width: 768px) {
  .products__item--yellow:after {
    top: -120px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item--yellow:after {
    width: 300px;
    height: 300px;
    background-image: url(desk-ice-coffe1x-min.977bd343.png);
    top: -183px;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2x) {
  .products__item--yellow:after {
    background-image: url(1desk-ice-coffe@2x-min.0c6708c6.png);
  }
}
.products__item--brown {
  background-color: #d6936d;
}

.products__item--brown:before {
  content: "";
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  background-image: linear-gradient(rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  border-radius: 50%;
  align-content: center;
  display: inline-block;
  position: absolute;
  top: -97px;
  box-shadow: 0 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .products__item--brown:before {
    top: -109px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item--brown:before {
    width: 300px;
    height: 300px;
    top: -166px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  }
}
.products__item--brown:after {
  content: "";
  width: 200px;
  height: 200px;
  background-image: url(mob-milkshake-1x-min.fd0c4857.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-content: center;
  align-items: center;
  display: inline-block;
  position: absolute;
  top: -108px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2x) {
  .products__item--brown:after {
    background-image: url(mob-milkshake@2x-min.66e7d165.png);
  }
}
@media screen and (min-width: 768px) {
  .products__item--brown:after {
    top: -120px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item--brown:after {
    width: 300px;
    height: 300px;
    background-image: url(desk-milkshake1x-min.36bff018.png);
    top: -183px;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2x) {
  .products__item--brown:after {
    background-image: url(desk-milkshake@2x-min.d801d46e.png);
  }
}
.gallery {
  box-sizing: border-box;
}

.container.gallery {
  padding-left: 0;
  padding-right: 0;
}

.gallery-container {
  background-image: url("../images/Img-mobile.png");
  background-color: #ffffff;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .gallery-container {
    background-image: url("../images/Img-mobile-@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .gallery-container {
    background-image: url("../images/Img-tablet.png");
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 768px) {
  .gallery-container {
    background-image: url("../images/Img-tablet-@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .gallery-container {
    background-image: url("../images/Img-desktop.png");
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 1200px) {
  .gallery-container {
    background-image: url("../images/Img-desktop-@2x.png");
  }
}
.gallery-container::after {
  position: absolute;
  content: "";
  top: 0;
  height: 25%;
  width: 100%;
  background-color: var(--background-color-teme-dark);
}

@media screen and (min-width: 768px) {
  .gallery-container::after {
    height: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-container::after {
    height: 25%;
  }
}
.gallery-slider {
  margin: auto auto;
  position: relative;
  z-index: 1;
  border-radius: 0.5rem;
  background-position: center;
  background-size: cover;
  width: 280px;
  height: 130px;
  animation-name: changeBgImage;
  animation-duration: 10000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeBgImage {
  0% {
    background-image: url("../images/slider/ingridients-001.jpg");
  }
  50% {
    background-image: url("../images/slider/ingridients-002.jpg");
  }
  100% {
    background-image: url("../images/slider/ingridients-003.jpg");
  }
}
.container.reviews {
  padding-left: 0;
  padding-right: 0;
}

.reviews-container {
  padding-top: 5rem;
  padding-bottom: 3.75rem;
  background-image: url("../images/Img-mobile.png");
  background-color: #ffffff;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .reviews-container {
    background-image: url("../images/Img-mobile-@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .reviews-container {
    padding-top: 6.25rem;
    padding-bottom: 5rem;
    background-image: url("../images/Img-tablet.png");
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 768px) {
  .reviews-container {
    background-image: url("../images/Img-tablet-@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .reviews-container {
    padding-top: 8.75rem;
    padding-bottom: 6.25rem;
    background-image: url("../images/Img-desktop.png");
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 1200px) {
  .reviews-container {
    background-image: url("../images/Img-desktop-@2x.png");
  }
}
.reviews-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__picture {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.reviews__text {
  max-width: 280px;
  min-height: 256px;
  padding: 2rem 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.625rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 2.55;
  text-align: center;
  color: var(--secondary-text-color-teme-dark);
  background-color: var(--background-color-teme-dark);
}

@media screen and (min-width: 768px) {
  .reviews__text {
    padding: 1.75rem 5rem;
    border-radius: 1.5rem;
    max-width: 704px;
    min-height: 138px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__text {
    padding: 2.625rem 4.5rem;
    max-width: 968px;
    font-size: 1rem;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}
.reviews__name {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.86;
  text-align: center;
  color: var(--secondary-text-color-teme-light);
}

@media screen and (min-width: 768px) {
  .reviews__name {
    font-size: 1rem;
  }
}
.reviews-indicators {
  padding-top: 0.375rem;
}

@media screen and (min-width: 768px) {
  .reviews-indicators {
    padding-top: 2rem;
  }
}
.contacts {
  padding-bottom: 3.75rem;
  border: none;
  background-color: var(--background-color-teme-dark);
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-bottom: 3.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-bottom: 7.5rem;
  }
}
.contacts-container {
  background-image: url("../images/Img-mobile.png");
  background-color: #ffffff;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts-container {
    background-image: url("../images/Img-mobile-@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .contacts-container {
    background-image: url("../images/Img-tablet.png");
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 768px) {
  .contacts-container {
    background-image: url("../images/Img-tablet-@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .contacts-container {
    background-image: url("../images/Img-desktop.png");
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 1200px) {
  .contacts-container {
    background-image: url("../images/Img-desktop-@2x.png");
  }
}
.container.contacts {
  padding-left: 0;
  padding-right: 0;
}

.contacts-container::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 75%;
  width: 100%;
  background-color: var(--background-color-teme-dark);
}

@media screen and (min-width: 768px) {
  .contacts-container::after {
    height: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-container::after {
    height: 80%;
  }
}
.contacts-items,
.contacts-container-button {
  position: relative;
  z-index: 1;
}

.contacts-items {
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (min-width: 768px) {
  .contacts-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-items {
    grid-template-rows: 542px;
    grid-column-gap: 2rem;
  }
}
.contacts-items > li {
  padding: 2.5rem 2rem 1.5rem 2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--secondary-text-color-teme-light);
  background: var(--secondary-text-color-teme-dark);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 1.5rem;
}

@media screen and (min-width: 768px) {
  .contacts-items > li {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-items > li {
    font-size: 1rem;
  }
}
.contacts__card {
  padding: 0.25rem 1.375rem;
  display: inline-block;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: var(--third-text-color-teme-dark);
  border-radius: 0.25rem;
}

@media screen and (min-width: 768px) {
  .contacts__card {
    padding: 0.25rem 0.875rem;
    font-size: 1rem;
  }
}
.contacts__location {
  padding: 0.5rem 0 1.5rem 0;
  position: relative;
}
.contacts__location::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

@media screen and (min-width: 768px) {
  .contacts__location {
    padding: 2rem 0;
  }
}
.contacts__location > span {
  margin-bottom: 0.5rem;
  display: block;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

.contacts__location > a {
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #D6936D;
}
.contacts__location > a:hover, .contacts__location > a:hover {
  text-decoration: underline;
}

.contacts__grafic {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  line-height: 1.86;
}
.contacts__grafic::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}

@media screen and (min-width: 768px) {
  .contacts__grafic {
    padding: 2rem 0;
  }
}
.contacts__grafic > p {
  display: block;
  line-height: 1.86;
  color: #ABABAB;
}

.contacts__grafic > p > span {
  line-height: 1.86;
  color: var(--secondary-text-color-teme-light);
}

.contacts__links {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  line-height: 1.6;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .contacts__links {
    padding-top: 2rem;
  }
}
.contacts__links > a {
  color: var(--secondary-text-color-teme-light);
}

.contacts-container-button {
  padding-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .contacts-container-button {
    padding-top: 2.5rem;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-container-button {
    padding-top: 3.75rem;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-teme-dark);
}

.footer__text {
  max-width: 14.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.2;
  text-transform: uppercase;
  word-wrap: break-word;
  color: var(--secondary-text-color-teme-dark);
}

.footer__text span {
  margin-top: 1rem;
  max-width: 12.5rem;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.footer__links {
  margin-top: 3.75rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
}

.footer__link {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--default-button-color-teme);
  border-radius: 50%;
  fill: var(--background-color-teme-dark);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  fill: var(--secondary-text-color-teme-dark);
}

.footer__phone {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.86;
  text-align: right;
  color: #131313;
}

.footer__phone a {
  color: var(--secondary-text-color-teme-dark);
}

.footer__right {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.52;
  text-align: center;
  color: #7A7A7A;
  border-top: 1px solid #E1E1E1;
}

@media screen and (min-width: 768px) {
  .footer__text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__text {
    max-width: 22rem;
    font-size: 1.625rem;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  .footer__text span {
    max-width: 22rem;
    margin-top: 0.5rem;
    font-size: 3rem;
    line-height: 1.23;
    letter-spacing: 0.06em;
  }
  .footer__links {
    gap: 1.875rem;
  }
  .footer__phone {
    margin-top: 2.125rem;
    font-size: 0.875rem;
  }
  .footer__right {
    margin-left: -2rem;
    margin-right: -2rem;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text-container {
    align-items: flex-end;
  }
  .footer__text {
    max-width: 32.5rem;
    font-size: 1.875rem;
    line-height: 1.23;
    word-wrap: normal;
  }
  .footer__text span {
    margin-top: 0.875rem;
    max-width: 32.5rem;
    margin-bottom: 3.75rem;
    font-size: 3.625rem;
  }
  .footer__links {
    margin-top: 0;
  }
  .footer__phone {
    margin-top: 2.5rem;
    margin-bottom: 3.75rem;
    font-size: 1rem;
    letter-spacing: 0.02em;
  }
  .footer__right {
    margin-left: 0;
    margin-right: 0;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: var(--primery-font-family);
  font-size: 1.4rem;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--primery-text-color-teme-light);
  background-color: var(--background-color-teme-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
a:hover, a:focus button:hover,
button:focus {
  cursor: url("/images/cursor.svg"), pointer;
}

.accent {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */