:root {
    --primery-font-family: Montserrat, sans-serif;
    --secondary-font-family: SeymourOne, sans-serif;
    // product
    --primery-text-color-teme-ice: #96af8c;
    --secondary-text-color-teme-coffee: #efd478;
    --third-text-color-teme-shake: #d6936d;
    // text
    --primery-text-color-teme-light: #000000;
    // --secondary-text-color-teme-light: #212121;
    --primery-text-color-teme-dark: #FFFFFF;
    --secondary-text-color-teme-dark: #FCFCFC;
    // button
    --default-button-color-teme: #F8D24E;
    --focus-button-color-teme: #0A8817;
    --disabled-button-color-teme: #ABABAB;
    // another
    --accent-color: #2196F3;
    --via-magenta: #FF0090; // нет в макете, для выделения
    --background-color-teme-dark: #84A178;
    // --background-color-teme-light: #F5F4FA;
}