.contacts {
    padding-top: 1028px;
    padding-bottom: 40px;
    position: relative;
}
@media screen and (min-width:320px) {
    .contacts {
        padding-top: 962px;
    }
}
@media screen and (min-width:768px) {
    .contacts {
        padding-top: 284px;
        padding-bottom: 40px;
    }
}
@media screen and (min-width:1200px) {
    .contacts {
        padding-top: 506px;
        padding-bottom: 120px;
    }
}

.contacts__list{
    position: absolute;
    top: -346px;
    left: 50%;
    transform: translate(-50%);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
}
@media screen and (min-width:768px){
    .contacts__list{
        top: -303px;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 0px;
    }
}
@media screen and (min-width:1200px){
    .contacts__list{
        top: -96px;

        grid-column-gap: 32px;
    }
}

.contacts__list>li {
    width: calc(100vw - 40px);
    padding: 3.800rem 3.200rem 4rem;
    border-radius: 2.400rem;

    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.86;

    box-shadow: 0 8px 30px rgba(212, 20, 67, .1);
    background-color: var(--secondary-text-color-teme-dark);
}
@media screen and (min-width:320px) {
    .contacts__list>li {
        width: 280px;
    }
}
@media screen and (min-width:768px) {
    .contacts__list>li {
        width: 224px;
        padding: 4rem 2.400rem 3.600rem;
        
        font-size: 1.4rem;
    }
}

@media screen and (min-width:1200px) {
    .contacts__list>li {
        width: 368px;
        padding: 4rem 4rem 3.200rem;

        font-size: 1.6rem;
    }
}

.contacts__card {
    min-width: 80px;
    display: inline-block;
    border-radius: 0.400rem;
    margin-bottom: 2rem;
    padding: 0 2.050rem;

    text-transform: uppercase;
    text-align: center;
    line-height: 1.33;

    background-color: var(--third-text-color-teme-dark);
}

@media screen and (min-width:768px) {
    .contacts__card {
        min-width: 75px;
        border-radius: 0.600rem;
        margin-bottom: 3.200rem;
        padding: 0 1.100rem;

        font-size: 1.6rem;
        line-height: 1.75;
    }
}

.contacts__address {
    margin-bottom: 2.200rem;
    padding-bottom: 1.600rem;

    border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width:768px) {
    .contacts__address {
        margin-bottom: 3.200rem;
        padding-bottom: 1.800rem;
    }
}

@media screen and (min-width:1200px) {
    .contacts__address {
        padding-bottom: 2.300rem;
    }
}

.contacts__address-link {
    display: block;
    margin-top: 0.800rem;

    line-height: 1.83;

    color: #d6936d;

    &:hover, &:focus {
    text-decoration: underline;
}
}
@media screen and (min-width:768px) and (max-width:1199px) {
    .contacts__address-link {
        margin-top: 1.200rem;

        line-height: 1.87;
    }
}

.contacts__schedule {
    margin-bottom: 0.800rem;

    letter-spacing: normal;
}

@media screen and (min-width:768px) {
    .contacts__schedule {
        margin-bottom: 1.200rem;
    }
}

@media screen and (min-width:1200px) {
    .contacts__schedule {
        margin-bottom: 1.300rem;

        letter-spacing: .04em;
    }
}

.contacts__schedule:nth-last-of-type(1) {
    margin-bottom: 2.400rem;
    padding-bottom: 2.400rem;

    border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width:768px) {
    .contacts__schedule:nth-last-of-type(1) {
        margin-bottom: 3.300rem;
        padding-bottom: 3.300rem;
    }
}

@media screen and (min-width:1200px) {
    .contacts__schedule:nth-last-of-type(1) {
        margin-bottom: 3.100rem;
        padding-bottom: 3.100rem;
    }
}

.contacts__schedule>span {
    display: block;
    letter-spacing: normal;

    color: #ababab;
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .contacts__schedule>span {
        line-height: 1.5;
    }
}

.contacts__email,
.contacts__phone {
    display: block;

    letter-spacing: normal;
    line-height: 1.5;
}
@media screen and (min-width:768px) {
    .contacts__email,
    .contacts__phone {
        line-height: 1.83;
    }
}

.contacts-container__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
@media screen and (min-width:768px){
    .contacts-container__buttons{
        flex-direction: row;
        justify-content: center;
    }
}

.contacts__btn {
    min-width: 196px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    display: flex;
}

.contacts_btn-icon {
    fill: currentColor;
} 